<footer> 
  <div class="container">
    <div class="row">
      <div class="col col-lg-2 mt-4">
        <a href="http://umsa.com.bo">
          <img src="./assets/escudo.png"  width="90px">
        </a>
      </div>
      <div class="col col-lg-3 mt-3">
        <h5 style="color: white;">Contactos</h5>
        <p class="text-white">Teléfono: +591-2 2612298</p>
        <p class="text-white">Email: <a href="" class="text-decoration-none text-white link-danger">informate.umsa.bo</a></p>
      </div>
      <div class="col col-lg-3 mt-3">
        <h5 style="color: white;">Dirección</h5>
        <a href="" class="text-decoration-none text-white link-danger">Av. Villazón N° 1995, Plaza del Bicentenario - Zona Central.</a>
      </div>
      <div class="col col-lg-2 mt-3">
        <p class="text-white"> Siguenos en: </p>
        <div>
          <a href="" class="text-decoration-none text-white link-danger"><i class="bi bi-youtube fs-2 me-3"></i></a>
          <a href="" class="text-decoration-none text-white link-dark"><i class="bi bi-twitter-x fs-2 me-3"></i></a>
          <a href="" class="text-decoration-none text-white link-primary"><i class="bi bi-facebook fs-2 me-3"></i></a>
        </div>
        <div>
          <a href="" class="text-decoration-none text-white link-warning"><i class="bi bi-instagram fs-2 me-3"></i></a>
          <a href="" class="text-decoration-none text-white link-info"><i class="bi bi-envelope fs-2 me-3"></i></a>
          <a href="" class="text-decoration-none text-white link-success"><i class="bi bi-geo-alt-fill fs-2 me-3"></i></a>
        </div>
        </div>
      <div class="col col-lg-2 mt-3">
        <a href="https://www.umsa.bo/web/idru-du">
          <img src="./assets/idrdu.png" alt="" width="150px">
        </a>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
      <p class="text-white">Copyright © 2025 Universidad Mayor de San Andrés</p>
    </div>
  </div>
</footer>
  