<div class="container">
<footer class="footer-container">
  <div class="menu-item">
    <ul class="social-icon mb-1">
      <li class="icon-elem"><a class="icon-fb" href="" ><i class="bi bi-facebook"></i></a></li>
      <li class="icon-elem"><a class="icon-yt" href="" ><i class="bi bi-youtube"></i></a></li>
      <li class="icon-elem"><a class="icon-ig" href="" ><i class="bi bi-instagram"></i></a></li>
      <li class="icon-elem"><a class="icon-x" href="" ><i class="bi bi-twitter-x"></i></a></li>
      <li class="icon-elem"><a class="icon-mail" href="" ><i class="bi bi-envelope"></i></a></li>
      <li class="icon-elem"><a class="icon-geo" href="" ><i class="bi bi-geo"></i></a></li>
    </ul>
  </div>
  <div class="institucional-footer">
    <div class="row mx-2"  >
        <div class="col-md-1">
          <img src="./assets/escudo.png" alt="Logo UMSA" class="logo">
        </div>
        <div class="col-md-5 footer-left text-white">
          <br>
          <span>&copy; DTIC - UNIVERSIDAD MAYOR DE SAN ANDRÉS, 2017 - 2025</span><br>
          <span>  Teléfono: (591 - 2) 2612298. E-mail: informateumsa.bo</span><br>
          <span> Av. Villazón N° 1995, Plaza del Bicentenario - Zona Central.</span><br>
          <span> Ciudad de La Paz, Estado Plurinacional de Bolivia</span>
        </div>
        
        <div class="col-md-4 footer-right text-white">
          <br>
          <span>INSTITUTO DE DESARROLLO REGIONAL Y DESCONCENTRACIÓN UNIVERSITARIA</span><br>
          <span>  Teléfono: (591 - 2) 2612298.</span><br>
          <span>  Teléfono: (591 - 2) 2612298. E-mail: informateumsa.bo</span><br>
          <span>Av. 6 de Agosto. Edificio HOY Nro. 2170 Piso 12</span><br>
        </div>
        <div class="col-md-1 footer-right mt-2 mb-1">
          <img src="./assets/idrdu.png" alt="Logo IDRDU" class="logoidr">
        </div>
    </div>
  </div>   
  


</footer>
</div>