label{
    color: #000000
}
h3{
    color: #32639e
}
.card{
    background: rgba(200, 205, 216, 0.728);
}
.card-container{
    background-image: url('/assets/umsac.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 480px;
    background-blend-mode:soft-light;
    background-color: #f4f6f90a;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
p{
    color: #000000;
}
.error{
    color: red;
}

.card-seccion1 {
  background-color: #bed8eb87; /* ejemplo: azul muy claro */
  color: #12325d; /* texto azul oscuro */
  border: 2px solid #1c3b6147; /* borde del mismo tono azul que usas */
  border-radius: 15px;
  padding: 8px;
}

.card-seccion2 {
  background-color: #bed8eb87; /* ejemplo: azul muy claro */
  color: #12325d; /* texto azul oscuro */
  border: 2px solid #1c3b6147; /* borde del mismo tono azul que usas */
  border-radius: 14px;
}

.opcion-radio {
    margin-right: 70px;
}

.selected-option{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.holland-auto{
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 991.98px){
    .selected-option{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
}
@keyframes fadeInBackground {
    0% {
      opacity: 0;
      background-size: 120px;
    }
    100% {
      opacity: 1;
      background-size: 220px;
    }
  }