<div class="row mb-4">
    <div class="col-12">
        <h3 class="text-dark text-center mb-4">
            <i class="fas fa-compass me-2"></i> Tu mejor opción vocacional es:
        </h3>
    </div>
</div>
@for(facultad of facultadesArray; track facultad; let i =$index){

    @if(facultad[0] === 'FCEF'){
    <div class="row">
        <!-- Primera Opción -->
        <div class="col-lg-4"></div>
        <div class="col-lg-4 mb-4">
            <div class="card card-custom option-card">
                <div class="option-number mt-3 mx-3">{{i+1}}</div>
                <div class="card-body">
                    <div class="text-center mb-3">
                        <img src="./assets/logos-facultades/FCEF.png" alt="Logo FA" class="faculty-logo mb-2">
                        <h5 class="text-dark mb-1">{{FCEF.nombre}}</h5>
                        <span class="badge">{{FCEF.codigo}}</span>
                    </div>


                    <div class="text-center mb-3">
                        <h6 class="text-muted mb-2">Personalidades de test Holland</h6>
                        @for(personalidad of hollandFCEFArray; track personalidad[0] ){
                            @if (personalidad[0] == 'R') {<span class="holland-code holland-R holland-code-small">{{personalidad[0]}}</span>}
                            @else if (personalidad[0] == 'I') {<span class="holland-code holland-I holland-code-small">{{personalidad[0]}}</span> }
                            @else if (personalidad[0] == 'A') {<span class="holland-code holland-A holland-code-small">{{personalidad[0]}}</span> }
                            @else if (personalidad[0] == 'S') {<span class="holland-code holland-S holland-code-small">{{personalidad[0]}}</span> }
                            @else if (personalidad[0] == 'E') {<span class="holland-code holland-E holland-code-small">{{personalidad[0]}}</span> }
                            @else if (personalidad[0] == 'C') {<span class="holland-code holland-C holland-code-small">{{personalidad[0]}}</span> } 
                        }

                    </div>
                    <div class="mb-3">
                        <h6 class="text-muted mb-2">Carreras Disponibles:</h6>
                        <div class="career-list">
                            @for( carrera of carrerasFCEF; track carrera){
                            <div class="career-item">{{carrera}}</div>
                            }
                        </div>
                    </div>

                    <div class="text-center">
                        <a href="https://fcef.umsa.bo/" target="_blank" class="btn btn-danger btn-sm">
                            <i class="fas fa-external-link-alt me-1"></i>Visitar Sitio Web
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
}