.container {
  padding-bottom: 3rem;
}

.card {
  border-radius: var(--card-border-radius);
  border: none;
  transition: transform var(--transition-speed), box-shadow var(--transition-speed);
  background-color: white;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px var(--umsa-shadow);
}

.card-body {
  background-color: var(--umsa-gray);
}

.text-umsa-blue {
  color: var(--umsa-blue);
}

.text-umsa {
  color: var(--umsa-text);
}

.bg-umsa-blue {
  background-color: var(--umsa-blue);
}

.btn-umsa {
  background-color: var(--umsa-blue);
  border-color: var(--umsa-blue);
  color: white;
  font-weight: 500;
}

.btn-umsa:hover {
  background-color: var(--umsa-blue-dark);
  border-color: var(--umsa-blue-dark);
}

.spinner-border {
  width: 1rem;
  height: 1rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.display-2 {
  font-size: 3rem;
  animation: fadeIn 1s ease-out;
}
.bg-umsa-blue-dark {
  background-color: var(--umsa-blue-dark);
}

.text-light {
  color: #f1f1f1;
}

.login-header img {
  filter: drop-shadow(0 0 2px #000);
}
