header{ 
    height: 135px;
    background-image: url(../assets/panel.png);
    background-color: #32639e ;
    padding: 10px;
    align-items:center;
}



div.separator{
    height: 138px;
    background-color: red;
}
