<div class="separator">
<header>
    <nav class="navbar navbar-expand-lg n1 col-12">
      <div class="container-fluid">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          
          <div class="collapse navbar-collapse" id="navbarText">

            <ul class="navbar-nav mx-auto mb-6 mt-3">
              <li class="nav-item">
                <a class="nav-link active text-decoration-none text-white link-danger" aria-current="page" [routerLink]="['/orientacion-vocacional']" routerLinkActive="active">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-decoration-none text-white link-danger" [routerLink]="['/report-orientacion']" routerLinkActive="active">Estadísticas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-decoration-none text-white link-danger" href="#">Control</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-decoration-none text-white link-danger" href="#">IDR-DU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-decoration-none text-white link-danger" [routerLink]="['/info-orientacion']" routerLinkActive="active">Información</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>
</header>
</div>


<router-outlet/>
