<!-- Banner elegante con parallax -->
<div class="hero-banner">
  <div class="hero-banner-overlay"></div>
  <div class="hero-banner-text">
    <h1>Test de Orientación Vocacional</h1>
    <p>Descubre tu camino profesional con nuestra prueba CHASIDE.</p>
  </div>
</div>

<div class="vocacional-container">
    <div class="vocacional-content">
        <h1 class="vocacional-title">Explora el rumbo hacia tu éxito profesional</h1>
        <p class="vocacional-text">
            Este test es una poderosa herramienta de autoevaluación que te guía hacia la elección más acertada de tu
            carrera universitaria. La prueba CHASIDE,
            analiza tus aptitudes y habilidades para identificar las áreas del conocimiento que mejor se alinean
            contigo.
            <br>
            Para que tomes decisiones firmes y evites frustraciones en el futuro, te invitamos a realizar este test
            diseñado especialmente para orientarte con precisión. ¡Es tu primer paso hacia un futuro profesional
            brillante!
        </p>

        <a [routerLink]="['/formulario/estudiante']" class="vocacional-button bi bi-journal-text">
            Realizar Test de Evaluación
        </a>
    </div>
</div>