
<div class="responsive-box">

    <h1>Test de Orientación Vocacional</h1>
    
    <p class="text">Se constituye un importante instrumento de autoevaluación personal, cuya finalidad es de facilitar la adecuada elección de una carrera universitaria. El test de Orientación Vocacional CHASIDE, denominado Prueba Movilizadora y/o Reflexiva, es una prueba internacional, que mide las aptitudes y habilidades y hace la clasificación de las áreas del conocimiento. <br> Para que efectúes una adecuada elección de la profesión que quieras tomar y no tengas complicaciones en el futuro, te sugerimos que realices el Test, que ponemos a tu disposición, el cual es un excelente instrumento de ayuda.</p>

    <button class="btn btn-primary" [routerLink]="['/formulario/estudiante']" >TEST DE APTITUD Y PERSONALIDAD</button>
  
</div>