<div class="vocacional-container">
    <div class="vocacional-content">
        <h1 class="vocacional-title">Test de Orientación Vocacional</h1>






        <p class="vocacional-text">
            Este test es una poderosa herramienta de autoevaluación que te guía hacia la elección más acertada de tu
            carrera universitaria. La prueba CHASIDE, reconocida como Prueba Movilizadora y Reflexiva,
            analiza tus aptitudes y habilidades para identificar las áreas del conocimiento que mejor se alinean
            contigo.
            <br>

            Para que tomes decisiones firmes y evites frustraciones en el futuro, te invitamos a realizar este test
            diseñado especialmente para orientarte con precisión. ¡Es tu primer paso hacia un futuro profesional
            brillante!
        </p>

        <a [routerLink]="['/formulario/estudiante']" class="vocacional-button">
            Realizar Test de Aptitud y Personalidad
        </a>
    </div>
</div>