<div class="container">
  <div class="filters">
    <label>
      Provincia ID:
      <input type="number" [(ngModel)]="idProvincia" placeholder="Ej: 1" />
    </label>

    <label>
      Municipio ID:
      <input type="number" [(ngModel)]="idMunicipio" placeholder="Ej: 10" />
    </label>

    <label>
      Año:
      <input type="text" [(ngModel)]="year" placeholder="Ej: 2023" />
    </label>
    
    <div class="buttons">
      <button (click)="cargarResultados()">Buscar</button>
      <button (click)="limpiarFiltros()">Limpiar</button>
    </div>
  </div>

  <div class="table-container" *ngIf="resultados.length > 0">
    <table>
      <thead>
        <tr>
          <th>Provincia</th>
          <th>Municipio</th>
          <th>Chaside</th>
          <th>Fecha</th>
          <th>Cantidad Estudiantes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of resultados">
          <td>{{ r.provincia }}</td>
          <td>{{ r.municipio }}</td>
          <td>{{ r.chaside }}</td>
          <td>{{ r.fecha }}</td>
          <td>{{ r.cantidadEstudiantes }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="resultados.length === 0" class="no-results">
    No se encontraron resultados con esos filtros.
  </div>
</div>


<div *ngIf="isBrowser && mostrarGrafico" class="grafico-container">
  <h3 style="text-align: center;">Distribución de códigos (CHASIDE)</h3>
  <canvas baseChart
          [data]="chartData"
          [type]="'pie'"
          [options]="chartOptions">
  </canvas>
</div>
